<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
    <form class="c-elem" action="/login" method="post">
      <input type='text' name='username'>
      <button type="submit">Hit this to get token</button>
    </form>
    <form class="c-elem" action="/verify" method="post">
    <button type="submit">Hit this to Verify</button>
    </div>
  </body>
</html>
